@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary: #FFFFFF90;
    --accent: #C04065;
    --white: #e8e7e7;
    --backdrop: #20202080;

}
* {
    font-family: "Source Code Pro", monospace;
    font-size: 1.3em;
    text-align: center;
    color: var(--white);
}
body {
    width: 100%;
    backdrop-filter: blur(30px) brightness(.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
    background-color: black;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    height: 80px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--backdrop);
}
img.logo {
    height: 90%;
}
section.searchbar {
    width: 400px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
    padding: 0 20px;
    background-color: var(--backdrop);
    backdrop-filter: brightness(.5);
}
i#user {
    font-size: 2em;
    color: var(--accent);
    transition: .3s;
}
i#user:hover {
    filter: brightness(1.1);
}
section.songList {
    width: 100%;
    display: flex;
    flex-direction: column;
}
section.songtab {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--backdrop);
}
section.songInfo {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.songInfo > img.songCover {
    height: 95%;
    border-radius: 10px;
    align-content: flex-start;
}
section.songTabDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.songTabDetails p { text-align: left; }
.songTabDetails h3 {
    text-align: left;
    font-size: 2em;
    font-weight: 500;
}
p.songDuration {
    width: 6%;
}
section.minimalized {
    position:fixed;
    bottom: 100px;
    width: 95%;
    height: 15%;

    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px; 
    align-items: center;
    gap: 30px;

    background-color: var(--backdrop);
    border-radius: 20px;
}
p{
    color: var(--primary);
}
i:hover {
    color: #FFFFFF;
    transform: scale(1.1);
}
i#X {
    display: none;
    position: fixed;
    top: 30px;
    left: 50px;
    font-size: 2em;
    transition: .3s;
}
section.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
section.detail {
    position: relative;
    top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section.slider {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
section.icons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section.icons i {
    font-size: 1.8em;
    transition: .3s;
}
i#pause, i#play {
    font-size: 2.5em;
}
section.SongCover {
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: end;
    gap: 20px;
}
section.yap {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: right;
}
p#artists {
    text-align: right;
}
img.album_cover {
    border-radius: 10px;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 600px;
    border-radius: 3px;
    background: var(--white);
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 5px;
    background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid var(--accent);
    cursor: pointer;
    margin-top: -6px;
}
input[type="range"].volume-range {
    -webkit-appearance: none;
    writing-mode: vertical-lr;
    width: 8px;
    height: 100px;
}
input[type="range"].volume-range::-webkit-slider-runnable-track {
    width: 8px;
    height: 100px;
    border-radius: 5px;
    background: transparent;
}
input[type="range"].volume-range::-webkit-slider-thumb {
    margin-left: -6px;
    margin-top: 0px;
}
.hidden {
    display: none;
}

@media (width <= 1024px) {
    img.album_cover {width: 400px; height: 400px;}
}
@media (width <= 425px) {
    * { font-size: 1em; }
    body { background-size: 200%;}
    img.album_cover { width: 350px; height: 350px; }
    section.UI { padding: 15px;}
    input[type="range"] { width: 200px; }
    i#X { left: 30px; }
}
@media (width <= 320px) {
    * { font-size: .8em; }
    body { background-size: 250%;}
    img.album_cover { width: 300px; height: 300px; }
    input[type="range"] { width: 150px; }
}

/*responzivita*/