@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary: #FFFFFF90;
    --accent: #C04065;
    --white: #e8e7e7;
    --backdrop: #101010A0;
    --tab: #101010F0;
}
* {
    font-family: "Source Code Pro", monospace;
    font-size: 1.3em;
    text-align: center;
    color: var(--white);
}
body {
    width: 100%;
    backdrop-filter: blur(30px) brightness(.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
    background-color: black;
}
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#auth-container {
  padding: 30px;
  border-radius: 20px;
  background: var(--tab);
  margin-top: 100px;
  width: 90%;
  max-width: 400px;
}

#auth-container input {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #ffffff10;
  color: white;
}

#auth-container button {
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--accent);
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

#auth-container button:hover {
  opacity: 0.8;
}
